.mid{
      width: 800px;
      height: 1342px;

margin: 0 auto;
}
img{
    width: 670px;
        animation: img_water 1.5s 2s normal both;

}

@keyframes img_water {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

#svg{

z-index: 1;
position: relative;
}

.water_layer {

  margin-top: 206px;
position: absolute;
}
.path_red{

  stroke-dasharray: 1650;
  stroke-dashoffset: 0;
   animation: dash_red 3s normal none;
  animation-timing-function: ease-in-out;
}

@keyframes dash_red {
  from {
    animation-delay: 1s;
    stroke-dashoffset: 1650;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.path_green{

  stroke-dasharray: 1760;
  stroke-dashoffset: 0;
   animation: dash_green 3s normal none;
  animation-timing-function: ease-in-out;
}

@keyframes dash_green {
  from {
    animation-delay: 1s;
    stroke-dashoffset: 1760;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.path {

  stroke-dasharray: 1558;
  stroke-dashoffset: 0;
 animation: dash 3s normal none;
  animation-timing-function: ease-in-out;
}

@keyframes dash {
	from {
		animation-delay: 1s;
    stroke-dashoffset: 1568;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.path_dash {
  stroke-dasharray: 4,33;
  
  stroke-dashoffset: 0;
 animation: dashtwo 1.3s normal none;
  animation-timing-function: ease-in-out;
}

@keyframes dashtwo {
	from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 185;
  }
}




@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  from {

    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
   
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}


/*красно-фиолетовая*/
#Oval_red,
#Oval_purp,

/*красно-зеленая*/
#Oval_red4,
#Oval_green2,

/*зелено-оранжевая*/
#Oval_green3,
#Oval_orange1,

/*красно-оранжевая*/
#Oval_red3,
#Oval_orange,

/*круговая*/
#Oval_purp_3s,
#Oval_orange_3s,
#Oval_blue_3s,

/*красно-синяя*/
#Oval_blue,
#Oval_red2,

/*сине-зеленая*/
#Oval_blue2,
#Oval_green,

/*purp-line*/
#Oval-63,
#Oval-62,
#Oval-61,
#Oval-60,
#Oval-59,
#Oval-58,
#Oval-57,
#Oval-56,
#Oval-55,
#Oval-54,
#Oval-53,
#Oval-52,
#Oval-51,

/*green-line*/
#Oval-50,
#Oval-49,
#Oval-48,
#Oval-47,
#Oval-46,
#Oval-45,
#Oval-44,

/*red-line*/
#Oval-43,
#Oval-42,
#Oval-41,
#Oval-40,
#Oval-39,
#Oval-38,
#Oval-37,
#Oval-36,
#Oval-35,
#Oval-34,
#Oval-33,
#Oval-31,
#Oval-30,
#Oval-29,
#Oval-28,

/*orange-line*/
#Oval-27,
#Oval-26,
#Oval-25,
#Oval-24,
#Oval-23,
#Oval-22,


/*blue-line*/
#Oval-21,
#Oval-20,
#Oval-19,
#Oval-16,
#Oval-15,
#Oval-13,
#Oval-12,
#Oval-8,
#Oval-7,
#Oval-6,
#Oval-5,
#Oval-4,
#Oval-3,
#Oval-2,
#Oval-1
{
  transform: scale(0);
  transform-origin: 50% 50%;
  animation-timing-function: ease-in-out;
}



@keyframes bounceInS2 {
  from, 20%,  100% {
   animation-timing-function: ease-in-out;
  }

  0% {
    opacity: 0;
    transform: translateX(-6px);
  }

  

  50% {
    opacity: 1;
    transform: translateX(-1px);
  }


  100% {
    opacity: 1;
    transform:  translateX(0px) translateY(.4px);
  }
}


@keyframes bounceInS3 {
  from, 20%, 100% {
    animation-timing-function: ease-in-out;
  }

  0% {
    opacity: 0;
    transform: translateX(6px);
  }

  

  50% {
    opacity: 1;
    transform: translateX(1px);
  }


  100% {
    opacity: 1;
    transform:  translateX(0px) ;
  }
}



@keyframes bounceInS3_O {
  from, 20%, 100% {
    animation-timing-function: ease-in-out;
  }

  0% {
    opacity: 0;
    transform: translateX(6px) rotate(180deg);
  }

  

  50% {
    opacity: 1;
    transform: translateX(1px) rotate(180deg);
  }


  100% {
    opacity: 1;
    transform:  translateX(0px) rotate(180deg);
  }
}



@keyframes bounceInOrange {
  from, 20%, 100% {
    animation-timing-function: ease-in-out;
  }

  0% {
    opacity: 0;
    transform: translate3d(6px, 1px, 0) rotate(119deg);
  }

  

  50% {
    opacity: 1;
    transform: translate3d(1px, 1px, 0) rotate(119deg);
  }


  100% {
    opacity: 1;
    transform:  translate3d(0px, 1px, 0) rotate(119deg) ;
  }
}

@keyframes bounceInBlue {
  from, 20%, 100% {
    animation-timing-function: ease-in-out;
  }

  0% {
    opacity: 0;
    transform:  translate3d(-6px, 6px, 0) rotate(-121deg);
  }

  

  50% {
    opacity: 1;
    transform: translate3d(-2px, 1px, 0)  rotate(-121deg);
  }


  100% {
    opacity: 1;
    transform:   translate3d(-1px, -.5px, 0)  rotate(-121deg);
  }
}





@keyframes stretch {
  0% {
    transform: scale(0) ;
  
  }
 50% {
    transform: scale(1.5) ;
    
  }
  100% {
    transform: scale(1) ;
    
  }
}




#Oval_orange1{
  
    animation: bounceInS3_O 1s 1s normal both;

}

#Oval_green3,
#Oval_red
{
  animation: bounceInS2 1s 1s normal both;
}

/*круговые*/
#Oval_purp_3s
{
     animation: bounceInS2 1s 1.1s normal both;
}

#Oval_orange_3s{
       animation: bounceInOrange 1s 1.1s normal both;

}
#Oval_blue_3s
{

   animation: bounceInBlue 1s 1.1s normal both;
}
/*круговые*/


#Oval_blue2
{
    animation: bounceInS2 1s .8s normal both;

}

#Oval_green
{
  animation: bounceInS3 1s .8s normal both;

}

#Oval_orange
{
  
    animation: bounceInS3_O 1s .6s normal both;

}

#Oval_purp{
    animation: bounceInS3 1s 1s normal both;
}

#Oval_red3{

  animation: bounceInS2 1s .6s normal both;
}

#Oval_red2,
#Oval_red4
{

  animation: bounceInS2 1s 1.1s normal both;
}
#Oval_blue,
#Oval_green2
{  
  animation: bounceInS3 1s 1.1s normal both;
}

#Oval-21,
#Oval-27,
#Oval-28,
#Oval-44,
#Oval-60,
#Oval-61,
#Oval-62,
#Oval-63{
  animation: stretch 1s  normal both;
}


#Oval-20,
#Oval-29,
#Oval-59{
  animation: stretch 1s .3s normal forwards;
}

#Oval-19,
#Oval-30,
#Oval-58{
  animation: stretch 1s .4s normal forwards;
}


#Oval-18,
#Oval-31,
#Oval-45{
  animation: stretch 1s .5s normal forwards;
}



#Oval-16{
  
  animation: stretch 1s .7s normal forwards;
}



#Oval-15,
#Oval-33,
#Oval-57{
 
  animation: stretch 1s .8s normal forwards;
}



#Oval-14,
#Oval-22,
#Oval-34{
 
  animation: stretch 1s .9s normal forwards;
}



#Oval-13,
#Oval-35
{

  animation: stretch 1s 1s normal forwards;
}




#Oval-12,
#Oval-36{
  
  animation: stretch 1s 1.1s normal forwards;
}

#Oval-37{
  
  animation: stretch 1s 1.2s normal forwards;
}

#Oval-23,
#Oval-56
{
  
  animation: stretch 1s 1.3s normal forwards;
}

#Oval-24{
  
  animation: stretch 1s 1.4s normal forwards;
}

#Oval-25{
  
  animation: stretch 1s 1.5s normal forwards;
}

#Oval-26{
  
  animation: stretch 1s 1.6s normal forwards;
}

#Oval-8,
#Oval-55{

  animation: stretch 1s 1.7s normal forwards;
}

#Oval-7,
#Oval-38,
#Oval-54{

  animation: stretch 1s 1.8s normal forwards;
}



#Oval-6,
#Oval-39,
#Oval-53{

  animation: stretch 1s 1.9s normal forwards;
}


#Oval-5,
#Oval-40,
#Oval-52{

  animation: stretch 1s 2s normal forwards;
}

#Oval-4,
#Oval-41,
#Oval-46,
#Oval-51{

  animation: stretch 1s 2.1s normal forwards;
}

#Oval-3,
#Oval-42,
#Oval-47{

  animation: stretch 1s 2.2s normal forwards;
}

#Oval-2,
#Oval-43,
#Oval-48{

  animation: stretch 1s 2.3s normal forwards;
}

#Oval-1,
#Oval-49{

  animation: stretch 1s 2.4s normal forwards;
}


#Oval-50{
  animation: stretch 1s 2.5s normal forwards;
}




